body {
  background-color: rgb(245, 245, 245);
  font-family: poppins;
  position: relative;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

main {
  display: flex;
  width: 1900px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

nav {
  display: flex;
  height: 86px;
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: #fff;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background: #292f3a;
}

.footer-pad {
  display: flex;
  padding: 0px 32px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.footer-container {
  display: flex;
  width: 1280px;
  align-items: flex-start;
}

.footer-section {
  display: flex;
  padding: 80px 0px;
  align-items: flex-start;
  flex: 1 0 0;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.footer-left {
  display: flex;
  width: 1273px;
  align-items: center;
  gap: 635px;
}

.footer-group {
  display: flex;
  height: 70px;
  padding-right: 0px;
  align-items: center;
}

.footer-group p {
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}

.footer-socials {
  width: 136px;
  height: 20px;
  flex-shrink: 0;
}

.footer-list {
  display: flex;
  align-items: flex-start;
  gap: 279px;
}

.footer-bottom {
  display: flex;
  align-items: flex-start;
  gap: 678px;
}

.nav-pad {
  display: flex;
  padding: 0px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}

.nav-container {
  display: flex;
  width: 1280px;
  justify-content: center;
  align-items: center;
}

.nav-content {
  display: flex;
  width: 1280px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.nav-brand {
  display: flex;
  width: 64px;
  align-items: flex-start;
  flex-shrink: 0;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.nav-group {
  display: flex;
}

.nav-group img {
  width: 53.229px;
  height: 53.229px;
  flex-shrink: 0;
}

.nav-group p {
  color: #132d80;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}

.nav-group span {
  color: #9fc410;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}

.nav-link {
  display: flex;
  padding: 12px;
  align-items: flex-start;
}
.nav-link a {
  color: #394149;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
}

.nav-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.nav-button {
  display: flex;
  height: 54px;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid #000;
  background: #000;
}

.nav-button p {
  display: flex;
  width: 107px;
  height: 11.475px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.hero-pad {
  display: flex;
  padding: 0px 32px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.hero-container {
  display: flex;
  width: 1280px;
  align-items: flex-start;
}

.hero-section {
  display: flex;
  padding: 80px 0px;
  align-items: center;
  flex: 1 0 0;
}

.hero-content {
  display: flex;
  width: 1280px;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.hero-text p {
  width: 576px;
  color: #fff;
  font-family: Poppins;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 68px;
}

.hero-text span {
  width: 549px;
  color: #ede8e8;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.icon-button {
  display: flex;
  width: 260px;
  height: 54px;
  padding: 0 32px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 30px;
  background: #569c27;
  color: var(--gray-00, #fff);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

#arrow-icon {
  font-size: 24px;
  margin-left: 8px;
  margin-bottom: 3px;
}

#section-hero {
  display: flex;
  width: 1900px;
  height: 800px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(src/images/sec-1-back.png);
}

#section-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

#section-features {
  display: flex;
  padding: 60px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background: #292f3a;
}

#section-benefits {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

#section-video {
  display: flex;
  padding: 60px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.about-pad {
  display: flex;
  width: 1900px;
  padding: 0px 32px;
  justify-content: center;
  align-items: center;
}

.about-container {
  display: flex;
  width: 1280px;
  align-items: flex-start;
  flex-shrink: 0;
}

.about-section {
  display: flex;
  padding: 80px 0px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  align-self: stretch;
}

.about-info {
  display: flex;
  width: 1280px;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}

.about-info-list {
  display: flex;
  padding: 40px 0px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.about-logos {
  display: flex;
  height: 200px;
  flex-direction: column;
  align-items: flex-start;
}

.about-logos h1 {
  color: #4a5d69;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.about-logos-container {
  display: flex;
  height: 200px;
  width: 1300px;
  padding: 30px 0px;
  justify-content: center;
  align-items: center;
  gap: 190px;
  flex-shrink: 0;
}

.about-logos-container-logo {
  display: flex;
  width: 173px;
  height: 172px;
}

.about-text-container {
  width: 789px;
  height: 146px;
}

.about-text-container h2 {
  width: 735px;
  color: #1d3444;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1.44px;
  margin-bottom: 30px;
}

.about-text-container p {
  color: #4a5d69;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  width: 789px;
}

.about-info-item {
  display: flex;
  padding: 16px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  background: #1c3483;
}

.about-info-text-top {
  width: 209px;
  color: #fff;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: -0.66px;
}

.about-info-text-mid {
  color: #fff;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1.92px;
}

.about-info-text-mid span {
  color: #fff;
  font-family: Poppins;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1.32px;
}

.about-info-text-low {
  width: 239px;
  color: #ede8e8;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.42px;
}

.features-pad {
  display: flex;
  padding: 0px 32px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.features-container {
  display: flex;
  width: 1280px;
  align-items: flex-start;
}

.features-section {
  display: flex;
  padding: 80px 0px;
  align-items: center;
  flex: 1 0 0;
}

.features-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.features-text {
  display: flex;
  align-items: center;
  gap: 40px;
}

.features-text p {
  width: 619px;
  color: #fff;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -1.08px;
}

.features-text span {
  width: 620px;
  height: 102px;
  color: #c7c7c7;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.features-list-item {
  display: flex;
  padding: 35px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 29px;
  align-self: stretch;
  border-radius: 20px;
  background: #fff;
}

.features-list-item img {
  width: 38px;
  height: 44px;
}

.features-list-item p {
  color: #0d1317;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%;
  letter-spacing: -0.72px;
}

.features-list-item span {
  width: 336px;
  color: #4a5d69;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.info-pad {
  display: flex;
  padding: 0px 32px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.info-container {
  display: flex;
  width: 1280px;
  align-items: flex-start;
}

.info-section {
  display: flex;
  padding: 80px 0px;
  align-items: flex-start;
  flex: 1 0 0;
}

.info-content {
  display: flex;
  padding: 60px 0px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
}

.info-content img {
  width: 618px;
  height: 600px;
  border-radius: 50px;
}

.info-text-container {
  width: 596px;
  height: 519px;
  position: relative;
}

.info-card-list {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.info-text-container h2 {
  width: 596px;
  height: 157px;
  flex-shrink: 0;
  color: #0d1317;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1.44px;
}

.info-card-item {
  display: flex;
  padding: 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 15px;
  border: 1px solid #b4bbc5;
  margin-top: 128px;
}

.info-card-item h1 {
  color: #367fac;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}

.info-card-item p {
  color: #0d1317;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%;
  letter-spacing: -0.72px;
}

.info-card-item span {
  width: 211px;
  color: #4a5d69;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.64px;
}

.benefits-pad {
  display: flex;
  padding: 0px 32px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.benefits-container {
  display: flex;
  width: 1280px;
  align-items: flex-start;
}

.benefits-section {
  display: flex;
  padding: 80px 0px;
  align-items: flex-start;
  flex: 1 0 0;
}

.benefits-content {
  display: flex;
  padding: 60px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.benefits-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.benefits-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.benefits-info h1 {
  width: 648px;
  color: #fff;
  font-family: Poppins;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.84px;
}

.benefits-info p {
  width: 536px;
  color: #f2f3f3;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
}

.benefits-row-list {
  display: flex;
  width: 658px;
  height: 282px;
  margin-left: 9px;
}

.benefits-row-list-item {
  display: inline-flex;
  padding: 24px 24px 60px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 16px;
  border: 2px solid #21252c;
  background: #292f3a;
}

.benefits-row-list-item-info-text {
  display: flex;
  padding-top: 4px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.benefits-row-list-item-info-text h1 {
  width: 264px;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.benefits-row-list-item-info-text p {
  width: 264px;
  color: #b4bbc5;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

.benefits-row-list-item-icon {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #21252c;
}

.benefits-list {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.video-pad {
  display: flex;
  padding: 0px 32px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.video-container {
  display: flex;
  width: 1280px;
  align-items: flex-start;
}

.video-section {
  display: flex;
  padding: 80px 0px;
  align-items: flex-start;
  flex: 1 0 0;
}

.video-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
}

.video-text-container {
  width: 550px;
  height: 346px;
}

.video-text-block {
  width: 563px;
  height: 454px;
}

.video-text-block-h1 {
  width: 550px;
  padding-bottom: 24px;
  color: #0d1317;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1.44px;
  text-transform: capitalize;
}

.video-text-block a {
  width: 550px;
  color: #4a5d69;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.video-text-block-person {
  width: 265px;
  height: 80px;
  flex-shrink: 0;
}

.video-text-block-person img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 80px;
}

.video-video-container {
  width: 563px;
  height: 454.94px;
}

.video-video-container p {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 101.8%;
  text-transform: capitalize;
}

.video-video-container-play-text {
  width: 160px;
  height: 51px;
  margin-top: 371px;
  position: absolute;
}

.video-video-container img {
  width: 563px;
  height: 454.94px;
  flex-shrink: 0;
  border-radius: 20px;
}

.video-text-block-small {
  width: 265px;
  height: 80px;
  margin-top: 40px;
  flex-direction: row;
  display: flex;
}

.video-text-block-small img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}

.video-text-block-small-text-1 {
  color: #063255;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 171%;
  padding-left: 24px;
}

.video-text-block-small-text p {
  color: #367fac;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 171%;
  padding-left: 24px;
}
